html {
    background-color: white;
}

body {
    /* border: solid red 2px; */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    border-radius : 20px;
    min-height: 700px;
    padding: 20px;
    background-color:cornsilk
}

body h1 {
    color:darkblue;
    font-family:'Courier New', Courier, monospace;
    font-size: 2.5em;
    /* text-decoration: underline; */
    text-align: center;
    margin-bottom: 50px;
}

#btn {
    /* Style the button */
    width: 400px;
    height : 400px;
    background-color:cornflowerblue;
    border: none;
    border-radius : 10px;
    border-right: solid 8px #999;
    border-bottom: solid 8px #999;
    /* style the text */
    font-family:'Courier New', Courier, monospace;
    font-size: 5em;
    font-weight:bold;
    color:aliceblue;
    /* To center the button */
    margin-top : 50px;
    /* margin-top: 20px; */
    position: relative;
    top: 50%;
    left: 50%;
    bottom: 20%;
    /* -ms transform : translateX(-50%); */
    transform: translateX(-50%);
    /* margin-left: auto;
    margin-right: auto; */
    /* padding: 10px; */
}

#btn:hover {
    background-color: #5485dd
}

#btn:active {
    width: 397px;
    height: 397px;
    margin-top: 53px;
    margin-left: 3px;
    border-right: solid 5px #666;
    border-bottom: solid 5px #666;
}

#output {
    font-size: 8em;
    color: darkblue;
    /* border: solid green 1px; */
    line-height: 350px;
    height: 350px;
    width: 400px;
    background-color: cornflowerblue;
    border-radius: 20px;
    white-space: pre-wrap;
    text-align: center;
    margin:0;
    margin-left:auto;
    margin-right:auto;
}